<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Official NodeJs SDK for Mercado Libre's API.">
    <meta name="keywords" content="API, NodeJs, Mercado Libre, SDK, meli, integration, e-commerce">
    <title>Mercado Libre NodeJs SDK</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <header class="navbar">
        <a class="logo" href="#"><img src="logo-developers.png" alt=""></a>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><a target="_blank" href="http://developers.mercadolibre.com/getting-started/">Getting Started</a></li>
                <li><a target="_blank" href="http://developers.mercadolibre.com/api-docs/">API Docs</a></li>
                <li><a target="_blank" href="http://developers.mercadolibre.com/community/">Community</a></li>
            </ul>
        </nav>
    </header>

    <div class="header">
        <div>
            <h1>Vacunarne</h1>
        </div>
    </div>

    <main class="container">
       

        <div class="row">
            <div class="col-md-6">
                <h3>Categorias</h3>
                <select id="categorias"></select> 
            </div>
            <div class="col-md-6">
                <h3>Next steps</h3>
                <p>To start, <a href="https://developers.mercadolibre.com.ar/apps/home">go to your My Apps dashboard</a> and update your application's <b>redirect URI</b> to match the one Heroku is running: <br />
                    <br />
                    <br /> If you deployed this app by the Heroku Button, you need to clone this aplication to your computer by running the following on a command line shell:
                    <br />
                    <code>heroku git:remote -a <%= appname %></code>
                    <br /> This will create a local copy of the source code, and associate the Heroku app with your local repository.</p>
                    <p>Follow the offical Heroku's guide <a target="_blank" href="https://devcenter.heroku.com/articles/git">https://devcenter.heroku.com/articles/git</a> to deploy using the Heroku cli.</p>
                    <p>You'll now be set up to run the app locally, or deploy changes to Heroku.</p>
                </div>
            </div>

            <hr>
            <div class="row">
                <h3>Examples</h3>
                <p>
                   Run the project on your terminal using  and check the following examples, they will help you to start working with our API!
                </p>
                <p>
                    Note that these examples work for MLA(Argentina) by default. If you'd like to try them in your own country, please, update this line in your project, with
                    your own <b>$site_id</b> before executing them.
                </p>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <h3>Get User</h3>
                    <p>This example shows how you can get any MercadoLibre's user public information from our API. You only need to know the User_Id.</p>
                    <p>You can concatenate up to 50 user_id to get all the information in only one request.</p>
               </div>
               <div class="col-sm-6 col-md-6">
                <h3>Get Categories</h3>
                <p>Every site has it's own category tree. This app is configured to work by default for MercadoLibre Argentina (MLA), so this example will retrieve MLA category's tree. <a href="https://github.com/fsolari/MercadoLibreNode/blob/master/config.js">Modify the site_id  on this file </a> if you want to try it for another country!</p>
                <br>
           </div>
       </div>
       <hr>
       <div class="row">
        <div class="col-md-6">
            <h3>Predict Category</h3>
            <p>
                To list an item in MercadoLibre, you need to know the category your product belongs to. Our Category Predictor resource uses Machine Learning to predict which category suits your product best, basing on it's title. And you can do it by simply making a GET. Try it out!
            </p>
       </div>
       <div class="col-md-6">
        <h3>Get Trends</h3>
       <p>
         User's are searching for keywords all over the world, and at all times.
         Knowing what user's are searching can help you with your business!
         Get the keywords that are trending in your country right now! </p>
         <br>
       </div>
</div>
<hr>

<div class="row">
    <div>
        <h3>Get started!</h3>
        <p>Now you know how easy it is to get information from our API. Check the rest of the examples on the SDK, and modify them as you like in order to List an item, update it, and other actions.</p>
        <p></p>
    </div>
</div>

<hr>

<div class="row">
    <h3>Your Credentials</h3>
    <div class="row-info col-sm-3 col-md-3">
        <b>App_Id: <%= client_id %></b>
    </div>
    <div class="row-info col-sm-3 col-md-3">
        <b>Secret_Key: <%= secret_key %></b>
    </div>
    <div class="row-info col-sm-3 col-md-3">
        <b>Redirect_URI: <%= redirect_uri %></b>
    </div>
    <div class="row-info col-sm-3 col-md-3">
        <b>Site_Id: <%= site_id %></b>
    </div>
</div>
<hr>
</main>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="./js/script.js"></script>
</body>

</html>